services:
  streamer:
    build:
      context: .
      dockerfile: Dockerfile
    user: "1000:1000"
    env_file:
      - .env
    environment:
      - SDLVIZ_SHOW_WINDOW=false
      - SDLVIZ_STREAM_OUTPUT=true
      - SDL_VIDEODRIVER=dummy
      - SDLVIZ_CONFIG_PATH=/ros2_ws/src/bob_sdlviz/config/sdlviz.json
      - ROS_SETUP_PATH=/ros2_ws/install/setup.bash
      - HOME=/tmp
    restart: unless-stopped
    network_mode: "host"
    ipc: host
    volumes:
      - /tmp:/tmp
